/* Floating Icon WA  */
#FloatingWALink {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 1rem;
    right: 1rem;
    background-image: url(https://www.inivrex.in/Files/whatsapp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 15;

}